# Get from @botfather
TELEGRAM_BOT_TOKEN=


# Get from your OpenAI-compatible LLM provider, i.e. https://openrouter.ai/
OPENAI_API_KEY=

# Provided that you use OpenRouter
OPENAI_BASE_URL=https://openrouter.ai/api/v1

# Cheap and good for OCR in Ru
OPENAI_MODEL_ID=google/gemma-3-27b-it


# Driving license spam. Add more pipe separated substrings considered as SPAM
PROHIBITED_STRINGS=водительск|прав|buy now


# If the original file size exceeds this threshold, make image smaller before feeding LLM
IMAGE_COMPRESSION_THRESHOLD_KB=300

# Target image width after resize
IMAGE_RESIZE_WIDTH_PX=800


# Optional override of who to notify on user ban
CHAT_OWNER_ID=
